.inline-toolbar {
	font-family : Arial !important;
	font-size   : 24px !important;
	transform   : scale(0);
	transition  : transform 0.15s cubic-bezier(0.3, 1.2, 0.2, 1);
	white-space : nowrap;

	span {
		letter-spacing : 0px !important;
		font-weight    : normal;
		word-spacing   : 0px !important;
	}

	.bold {
		font-family : Arial !important;
		font-weight : bold;
	}

	.italic {
		font-style  : italic !important;
		font-family : "Times New Roman" !important;
		font-weight : bold;
	}

	.underline {
		text-decoration : underline !important;
		font-family     : Arial !important;
		font-weight     : bold;
	}

	.strikethrough {
		text-decoration : line-through !important;
	}

}