@import '~draft-js/dist/Draft.css';

.editable-content {
	position : relative;

	&:not(.disabled) {
		.DraftEditor-root {
			outline  : 1px dotted #CC806B;
			overflow : auto;

			a:hover {
				background-color : #FFB9B7;
			}
		}
	}

	.DraftEditor-root {
		padding : 0;

		.DraftEditor-editorContainer {
			border : 0;
		}
	}

	figure {
		margin   : 0;
		position : relative;
		z-index  : 1;

		&[contenteditable=false] {
			-moz-user-select    : none;
			-webkit-user-select : none;
			word-wrap           : break-word;

			* {
				-moz-user-select    : none;
				-webkit-user-select : none;
			}
		}
	}

	@import 'components/Entities/Link';
	@import 'components/Entities/Image';
	@import 'components/Toolbars/Toolbars';
}