@import '~draft-js/dist/Draft.css';

.DraftEditor-root {
	outline  : 1px dotted #CC806B;
	overflow : auto;
	padding  : 10px 30px;
}

.axe-editable_content {
	position : relative;

	.DraftEditor-root {
		padding : 0;

		.DraftEditor-editorContainer {
			border : 0;
		}
	}

	figure {
		margin   : 0;
		position : relative;
		z-index  : 1;

		&[contenteditable=false] {
			-moz-user-select    : none;
			-webkit-user-select : none;
			word-wrap           : break-word;

			* {
				-moz-user-select    : none;
				-webkit-user-select : none;
			}
		}
	}

	@import 'components/Entities/Link';
	@import 'components/Entities/Image';
	@import 'components/Toolbars/Toolbars';
}